.frame4 {
    display: flex;
    height: 593px;
    width: 571px;
    background-color: rgba(16, 0, 246, 1);
    /* align-items: center; */
    align-content: flex-start;

}

.box1 {
    height: 169px;
    width: 167px;
    margin-top: 43px;
    margin-left: 35px;
    background-color: rgba(217, 217, 217, 1);
    align-self: flex-start;
    /* color: red;
    padding: 20px;
    box-sizing: border-box; */

}

.box2 {
    height: 169px;
    width: 167px;
    background-color: rgba(217, 217, 217, 1);
    align-self: center;
    /* color: red;
    padding: 20px;
    box-sizing: border-box; */
}

.box3 {
    height: 169px;
    width: 167px;
    margin-bottom: 43px;
    margin-right: 35px;
    background-color: rgba(217, 217, 217, 1);
    align-self: flex-end;
}

.frame5 {
    display: flex;
    margin-top: 20px;
    height: 593px;
    width: 571px;
    background-color: rgba(16, 0, 246, 1);
    align-content: flex-start;
}

.box4 {
    height: 169px;
    width: 167px;
    margin-bottom: 43px;
    margin-left: 35px;
    background-color: rgba(217, 217, 217, 1);
    align-self: flex-end;

}

.box5 {
    height: 169px;
    width: 167px;
    background-color: rgba(217, 217, 217, 1);
    align-self: center;
}
.box6 {
    height: 169px;
    width: 167px;
    margin-bottom: 43px;
    margin-right: 35px;
    background-color: rgba(217, 217, 217, 1);
    align-self: flex-end;
}

.frame6 {
    display: flex;
    margin-top: 20px;
    height: 593px;
    width: 571px;
    background-color: rgba(16, 0, 246, 1);
    align-content: flex-start;
}

.box7 {
    height: 169px;
    width: 167px;
    margin-top: 43px;
    margin-left: 35px;
    background-color: rgba(217, 217, 217, 1);
    align-self: flex-start;

}

.box8 {
    height: 169px;
    width: 167px;
    margin-bottom: 43px;
    background-color: rgba(217, 217, 217, 1);
    align-self: flex-end;
}
.box9 {
    height: 169px;
    width: 167px;
    margin-top: 43px;
    margin-right: 35px;
    background-color: rgba(217, 217, 217, 1);
    align-self: flex-start;
}
.frame7 {
    display: flex;
    margin-top: 20px;
    height: 781px;
    width: 961px;
    padding: 0px 88px;
    box-sizing: border-box;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    flex-wrap:wrap;
    column-gap:430px;
}
.items {
    height: 148px;
    width: 149px;
    /* margin-left: 86px; */
    background-color: red;
    margin: 9px;
    
}